@font-face {
    font-family: 'Roboto Serif';
    src: url('font/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url('font/RobotoSerif-Italic-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
}


/* layout */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-gap: 1rem;
}

body>h1 {
    justify-self: center;
    grid-column-start: 2;
}

body>main {
    display: grid;
    grid-column-start: 2;
    grid-auto-rows: min-content;
    grid-gap: 4rem;
    justify-content: stretch;
}

section.top {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 2fr;
}

body>footer {
    justify-self: center;
    grid-column-start: 2;
    padding: 1rem;
}

form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content;
    align-items: baseline;
}

form>hr {
    grid-column: 1 / 3;
    width: 100%;
    opacity: .1;
}

form input[type='checkbox'] {
    justify-self: start;
}

form input[type='number'] {
    width: 15ch;
}

form .checkbox-input:not([hidden]) {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr auto;
}

form>.help {
    grid-column: 1 / 3;
    font-size: small;
    opacity: .6;
    max-width: 40ch;
    margin-top: -.5rem;
    font-weight: 200;
}

.tool-bar {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: baseline;
}

.tool-bar>.grow {
    flex-grow: 1;
}

.progress-bar {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr auto;
}

.progress-bar>div {
    font-size: small;
    opacity: .6;
    max-width: 40ch;
}

.progress-bar>progress {
    grid-column: span 2;
    width: 100%;
}


/* style */

body {
    --bg-color: hwb(0 9% 91%);
    background-color: var(--bg-color);
    color: hwb(0 84% 16%);
    font-family: 'Roboto Serif', serif;
    box-sizing: border-box;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 800;
    font-style: italic;
}

form {
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 1rem 0;
}

label {
    font-size: 1rem;
}

a {
    color: var(--text-color);
    background: var(--background-color);
    outline: 0 solid var(--outline-color);
    border-radius: .2rem;
    font-family: 'Roboto Serif', serif;
    transition: all .1s ease-in;
    font-weight: bold;
    text-decoration: none;
}

select,
input,
button {
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--text-color);
    outline: 0 solid var(--outline-color);
    border-radius: .2rem;
    padding: .5rem;
    font-family: 'Roboto Serif', serif;
    transition: all .1s ease-in;
    font-size: 1rem;
    font-weight: bold;
}

button:not(:disabled) {
    cursor: pointer;
}

a:hover,
a:focus,
select:not(:disabled):hover,
select:not(:disabled):focus,
input:not(:disabled):hover,
input:not(:disabled):focus,
button:not(:disabled):hover,
button:not(:disabled):focus {
    outline: .3rem solid var(--outline-color);
}

a:hover,
a:focus,
button:not(:disabled):hover,
button:not(:disabled):focus {
    background-color: var(--text-color);
    color: var(--background-color);
}

button:active {
    filter: brightness(1.2);
}

select:disabled,
input:disabled,
button:disabled {
    filter: brightness(.8);
}

select,
input,
button {
    --text-color: rgb(212, 212, 212);
    --outline-color: rgba(212, 212, 212, 0.3);
    --background-color: var(--bg-color);
}

button.primary {
    --text-color: rgb(0, 110, 255);
    --outline-color: rgba(0, 110, 255, 0.3);
    --background-color: var(--bg-color);
}

button.grey {
    --text-color: rgb(148, 148, 148);
    --outline-color: rgba(148, 148, 148, 0.3);
    --background-color: var(--bg-color);
}

button.green {
    --text-color: rgb(157, 255, 0);
    --outline-color: rgba(157, 255, 0, 0.3);
    --background-color: var(--bg-color);
}

a {
    --text-color: rgb(0, 110, 255);
    --outline-color: rgba(0, 110, 255);
    --background-color: var(--bg-color);
}


/* custom */

#gen-progress {
    filter: brightness(0.5);
}

.select-panel {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.gen-info {
    margin: 1rem 0;
}

.svg-area {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    min-width: 5rem;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    padding: 2rem;
}

.svg-area .puzzle-solution {
    width: 100%;
    height: 100%;
}

#select-output {
    flex-grow: 1;
    display: block;
    padding: 0;
    overflow: unset;
    resize: vertical;
    overflow: hidden;
}

#gen-output .puzzle-solution:hover {
    cursor: pointer;
}

.puzzle-solution {
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: all .1s ease-in;
}

.puzzle-solution:hover {
    background-color: #0002;
    border: 1px solid #000;
}

#select-output .puzzle-solution:hover {
    background-color: transparent;
    border: 1px solid transparent;
}

.puzzle-solution .stat-label {
    fill: #FFFD;
    font-size: 1.2px;
    text-anchor: middle;
    font-weight: 400;
    font-style: italic;
}

.puzzle-solution .piece .fragment-label {
    fill: #FFF8;
    font-size: 1.5px;
    text-anchor: middle;
    font-weight: 600;
}

.puzzle-solution .piece .piece-block {
    fill: transparent;
    stroke: #FFF2;
    stroke-width: .1;
}

.puzzle-solution .piece-coord {
    fill: #FFF4;
    font-size: 1px;
    text-anchor: middle;
    font-weight: 600;
}