/* layout */

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-gap: 1rem;
}

body>h1 {
    justify-self: center;
    grid-column-start: 2;
}

body>main {
    display: grid;
    grid-column-start: 2;
    grid-auto-rows: min-content;
}

body>main>section {
    justify-self: center;
    padding: 1rem;
}

body>main>section.wide {
    justify-self: stretch;
}

body>footer {
    justify-self: center;
    grid-column-start: 2;
    padding: 1rem;
}

form {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}

form input {
    justify-self: start;
}

form button {
    grid-column: 1/3;
    justify-self: stretch;
}

input {
    min-width: 5rem;
    width: 5rem;
}


/* style */

body {
    --bg-color: hwb(0 9% 91%);
    background-color: var(--bg-color);
    color: hwb(0 84% 16%);
    font-family: 'Roboto Serif', serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 800;
}

form {
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 1rem 0;
}

label {
    padding: .5rem 0;
    font-size: 1rem;
    font-weight: 300;
    font-weight: 200;
}

input,
button {
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--text-color);
    outline: 0 solid var(--outline-color);
    border-radius: .2rem;
    padding: .5rem 1rem;
    font-family: 'Roboto Serif', serif;
    transition: all .1s ease-in;
    font-size: 1rem;
    font-weight: bold;
}

button:not(:disabled) {
    cursor: pointer;
}

input:not(:disabled):hover,
input:not(:disabled):focus,
button:not(:disabled):hover,
button:not(:disabled):focus {
    outline: .3rem solid var(--outline-color);
}

button:not(:disabled):hover,
button:not(:disabled):focus {
    background-color: var(--text-color);
    color: var(--background-color);
}

button:active {
    filter: brightness(1.2);
}

input:disabled,
button:disabled {
    filter: brightness(.8);
}

input {
    --text-color: rgb(212, 212, 212);
    --outline-color: rgba(212, 212, 212, 0.3);
    --background-color: var(--bg-color);
}

button {
    --text-color: rgb(0, 93, 214);
    --outline-color: rgba(0, 93, 214, 0.3);
    --background-color: var(--bg-color);
}


/* custom */

.gen-output {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    min-width: 5rem;
    min-height: 10rem;
    max-height: 80vh;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    padding: 2rem;
}

.gen-output .info {
    top: 0;
    grid-column: 1/-1;
}

.gen-output .puzzle-solution {
    min-height: 20rem;
    width: 100%;
    height: 100%;
}